//--Colors
$color-orange:              #ff7200 !default;
$color-orange-hover:		#ffb541 !default;
$color-blue:				#0064d2 !default;
$color-blue-hover: #337ab7 !default;
$color-green:				#8cd931 !default;
$color-red:					#f20000 !default;
$color-yellow:				#fdcb04 !default;
$color-white:				#ffffff !default;

$color-grey:				#dddddd !default;
$color-grey-darker:			#888888 !default;
$color-grey-darkest:		#222222 !default;
$color-grey-lighter:		#f7f7f7 !default;
$color-grey-lightest:		#ffffff !default;

//----Colors Partner Product SCSS
$color-product-bg-flight:		#85cff1;
$color-product-bg-hotel:		#98d0a2;
$color-product-bg-train:		#f8c87e;
$color-product-bg-event:		#98b0db;
$color-product-bg-car:			#f09a7c;

$color-product-txt-flight:		#3c79b4;
$color-product-txt-hotel:		#2d7253;
$color-product-txt-train:		#ec751f;
$color-product-txt-event:		#6865b0;
$color-product-txt-car:			#ec751f;

$primary: #0064d2;
$highlight: #ff7200;
$highlight-hover:#ffb541;
$text-dark: #000;
$text-light: #fff;
$text-mute: #b0b0b0;