@import "../styles/colors";
@import "grid-system";

*, :after, :before {
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
}

body, #app {
  background: $color-grey-lighter;
  font-family: Arial;
}

#modal-root {
  position: relative;
  z-index: 999;

  .modal-content {
    max-width: 90%;
  }
}

a {
  text-decoration: none;

  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;

  h1 {
    font-size: 20px;
    color: #424242;
  }
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  thead {

    th {
      padding: .75rem;
      color: #b3b3b3;
      font-size: 12px;
      border-bottom: 2px solid #DDD;
    }
  }

  tbody {
    tr {
      td {
        font-size: 12px;
        padding: 20px;

        .initial {
          color: #4986F2;
          display: inline-block;
          padding: 5px;
          border-radius: 30px;
          font-style: normal;
          font-weight: bold;
          background-color: #D6E9FF;
          text-align: center;
          margin-right: 10px;
        }

        ul {
          li {
            list-style-position: inside;
            margin-left: 20px;

            &::marker {
              color: #4986F2;
              font-weight: bold;
            }
          }
        }
      }

      &:not(:last-child) {
        td {
          border-bottom: 1px solid #DDD;
        }
      }
    }
  }
}

// Flex

.flex-column {
  flex-direction: column!important;
}
.min-vh-100 {
  min-height: 100vh!important;
}
.d-flex {
  display: flex!important;
}

.flex-grow-1 {
  flex-grow: 1!important;
}

// Margins
.margin-top-20 {
  margin-top: 20px;
}

.margin-10 {
  margin: 10px;
}

// Paddings
.padding-0 {
  padding: 0;
}

// Fonts
.weight-600 {
  font-weight: 600;
}

.weight-normal {
  font-weight: normal;
}

.font-size-13 {
  font-size: 13px;
}

.margin-left-15 {
  margin-left: 15px;
}

// Colors
.color-grey {
  color: $color-grey-darker;
}

.color-blue {
  color: $color-blue;
}

.color-orange {
  color: $color-orange;
}

// Utilities
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.background {
  background-color: #f7f7f7;
}
